/* cookie-announcement */
.cookie-announcement {
	padding: 10px; color: #888; background: #444; text-align: center;
}
.cookie-announcement-inner { display: inline-block; }

.cookie-announcement, .cookie-announcement button { @include font-size(13); line-height: 18px; font-style: normal; font-weight: normal;}
.cookie-announcement a { text-decoration: underline; color: #888; }
.cookie-announcement a:hover, .cookie-announcement a:focus { text-decoration: none; }
.cookie-announcement p { margin: 0 0 20px; }
.cookie-announcement button {
	display: inline-block; width: 23px; height: 23px; padding: 0; margin-left: 10px; background: #333; color: #888; border: 0; line-height: 22px; text-align: center; white-space: nowrap; border-radius: 50%;
	&:hover, &:focus { background: #000; color: #fff;}
}

/* cookie-info page */
.cookie-info h1 { }
.cookie-info { margin: 3em; }
.cookie-info dl { border-top: 1px #ccc solid; border-bottom: 1px #ccc solid; padding: 1em 0 1em 0; margin: 3em 0; }
.cookie-info dt { float: left; width: 200px; font-weight: bold; clear: left; }
.cookie-info dd { float: left; }
.cookie-info footer { margin-top: 3em; }
