language: php

matrix:
  include:
    - php: 7.4
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.4
      env: COMPOSER_FLAGS="--prefer-stable"
    - php: 8.0
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 8.0
      env: COMPOSER_FLAGS="--prefer-stable"

cache:
  directories:
    - $HOME/.composer/cache/files

before_install:
  - phpenv config-rm xdebug.ini

before_script:
  - composer update $COMPOSER_FLAGS --no-interaction
  - chmod -R +x vendor/bin/phpunit
  - chmod -R +x vendor/bin/phpcs

script:
  - composer test
  - if [ "$(git diff --diff-filter=ACMR --name-only HEAD^..HEAD -- '*.php')" != "" ]; then ./vendor/bin/phpcs --standard=phpcs.xml --colors --encoding=utf-8 -n -p $(git diff --diff-filter=ACMR --name-only HEAD^..HEAD -- '*.php'); fi

notifications:
  email: false
  slack:
    secure: BJ9zboETJVX0buQuAJRxyyqPPGJAdmOOJpnfKJnoNF6Douh3D0zUApF9qqQaDYtly8OigOdo/UbZ1elvwB7i4BPQ3LVm9t4b3VFilcciZyUagBOjPjLCVApDQjbdL566AK5qXN8cukRpzqCkBuEsPPGEopdd6lf6ZL1sp0h39gtuYv4Yq++ewmLpJQ94MD/7rLBJ4PcOYhOcqM9Qug50OuuH9VI4bLzN5b3GmpjEAn5xJS+WUWfuT37pHFmF/7b1VDvrbXaZ1b/0VCd8GVmEa9EJi3j7ykcxM73nsr2zzq85dRKmcAhz0x0kJbKoPBYPMRmNbwjh23vTooz4LB8/XqlGMVoXP2ECPdqe9q7Gn3Qtl8wJqvRmBuVkkYb5JgFZ8qHVswY05vMLZ58P+YD6Eyf+lSplvOMBJEKRG61QeTNuPUJ5ALRwU0cTMR+nssQVQF/6vc44Ayc86pcVag7b0vayGkYkckS37J/r0Gp3hXaJXnAMIWxayRUuz2CCx6VEt+kYBu/Fd8mEIKa+BXO8sB5vGUR0cbCZ9WEMqe1DA8Uy28FDYV8qMKqw7az6JHaaDthiwgiW5nv/Rt8cIqY5Oc6OLbRBK+AEelblEo+wvbz5kvGDBvw++ybBzTveff0q0EJuZayTMjMB2BgwAidxvBKgbsrYDkG5xrQ6kk77nyE=
