language: php
php:
    - '7.0'
script:
    - composer test
    - if [ "$(git diff --diff-filter=ACMR --name-only HEAD^..HEAD -- '*.php')" != "" ]; then ./vendor/bin/phpcs --standard=phpcs.xml --colors --encoding=utf-8 -n -p $(git diff --diff-filter=ACMR --name-only HEAD^..HEAD -- '*.php'); fi
before_script:
    - chmod -R +x vendor/bin/phpunit
    - chmod -R +x vendor/bin/phpcs
before_install:
    - composer install
notifications:
    email: false
    slack:
        rooms:
            secure: O1r03yV5oM+2t6MgtzPC3n9MM8tUOF0E/GpTYFdc3qPmsMg4mvsR0WbNqKId78PLeVsJW4fetjGT04wyA9MdSeeWHYh+Ey5MF/jl3X8or2zUzegqpiRxIQs9oiqtvdQsyF93lXf0qZlM3OG5XNg6ki/m3nXoiFjUa++G7bjzLpg=
        on_success: change
        on_failure: always
        template: "<%{build_url}|%{repository_name} [%{branch}] #%{build_number}>:\n%{message} (in %{duration})\nBy: %{author}\n<%{compare_url}|%{commit_message}>"
