body {
	font-family: 'Maven Pro', sans-serif;
	margin: 0;	
	padding: 0;
	height: 100%;
	line-height: 1.4em;
	background-color: #eee;

	background: linear-gradient(to bottom, #ddd 0%,#fff 20%,#fff 80%,#ddd 100%);

	
    background-repeat: no-repeat;
    background-attachment: fixed;

	
/*	background: black url('/media/images/garp/datamodel/background-green.jpg') no-repeat fixed;*/
}

h1, h2, h3, h4 {
	font-family: 'Nunito', Arial, sans-serif;
	color: #222;
	text-shadow: 0 0.5px 0.5px #555;
	
}

/* MENU */
#nav {
	z-index: 1000;
	position: absolute;
	margin: auto;
	width: 20%;
	left: 40%;
}

#nav ul {
	list-style-type: none;
}

#nav a {
	text-decoration: none;
/*	background-color: #ccc;*/
	color: #ca7;
}



#content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: none;
}

div.listmodel {
	float: left;
	
	background-color: #fff;
	border: 3px solid black;
	border-radius: 20px;
	color: black;
	padding: 20px;
}

div.listmodel ul {
	list-style-type: none;
}

div.listmodel li.readonly {
	color: #ccc;
}

div.listmodel .icon {
	width: 16px;
	height: 16px;
	display: inline-block;
}

div#section-relations {
/*	display: none;*/
}

div#section-fields {
	display: none;
}





/*  r e l a t i o n   m o d e l   n o d e s __________________________________ */
.model {
	position:absolute;
	width: 130px;
	height: 70px;
	display: table;
/*	overflow: hidden;*/

	background-color: #fff;
	border: 3px solid black;
	border-radius: 30px;
	text-decoration: none;
	color: black;
	
	padding: 7px;
	
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
}

.model.dimmed {
	border-color: #433720;

	/*background: linear-gradient(to bottom, #ddd 0%,#fff 20%,#fff 80%,#ddd 100%);*/
	/*background-image: linear-gradient(bottom, rgb(0,0,0) 2%, rgb(206,169,102) 56%, rgb(212,190,128) 78%);*/
	/*background-image: -o-linear-gradient(bottom, rgb(0,0,0) 2%, rgb(206,169,102) 56%, rgb(212,190,128) 78%);*/
	/*background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 2%, rgb(206,169,102) 56%, rgb(212,190,128) 78%);*/
	/*background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 2%, rgb(206,169,102) 56%, rgb(212,190,128) 78%);*/
	/*background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 2%, rgb(206,169,102) 56%, rgb(212,190,128) 78%);*/

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(0,0,0)),
		color-stop(0.56, rgb(206,169,102)),
		color-stop(0.78, rgb(212,190,128))
	);


    background-repeat: no-repeat;
    background-attachment: fixed;
	
}

.model div.content_container {
	#position: absolute;
	#top: 50%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;				
}

.model div.content {
	#position: relative;
	#top: -50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.model div.content h2 {
	margin: 0;
	padding: 0;
	font-size: 17px;
}

.model:hover {
	border-color: #ccddcc;
	cursor: default;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	z-index: 9999;
}

.model ul.fields {
	list-style: none;
	padding: 0;
	display: none;
	text-align: left;
	margin-left: 30px;
}
