/* TOOLBARS */
div .x-toolbar{ background: none #fff; }
.no-menu-arrows .x-btn-mc em.x-btn-arrow { margin: 0 5px 0 5px; background-image: none; padding-right: 0; }

/* FORM TOOLBAR */
.x-panel-noborder div.garp-formpanel-toolbar.x-toolbar { border:0; background: #fff; padding: 6px 30px 10px 30px; }
.x-panel-noborder div.garp-formpanel-toolbar.x-toolbar table.x-toolbar-ct { border-bottom: 1px #ccc dotted; padding-bottom: 2px; }

/* TABS */
.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner { background-image: url("images/tabs-sprite-garp.gif"); }
div.x-tab-panel-header, .x-tab-panel-footer { border: 0; height: 23px; background: #fff; }
.x-tab-strip-active{ text-shadow: 0px 1px 1px #FFF; }
ul.x-tab-strip-top { background-color:#999; background-image: none; padding-top: 0; border-bottom: 0; }
ul.x-tab-strip li { margin: 0 15px 0 0; }
ul.x-tab-strip li.x-tab-strip-over .x-tab-strip-text { color: #fff; }
ul.x-tab-strip li.x-tab-strip-over.x-tab-strip-active .x-tab-strip-text { color: #000 }
.garp-tabpanel { border-top: 0; }
ul.x-tab-strip-top { background: #999 url("images/tab-strip-bg-2.gif") repeat-x; }

/* BUTTONS */
table.x-btn{ margin-right: 10px; }
.x-btn-text-icon .x-btn-icon-medium-left .x-btn-text{ padding-left: 20px; }
.x-btn-noicon .x-btn-small .x-btn-text { min-height: 16px; height: auto; }

/* enhancing UX & keyboard nav: - REVERTED because of 'duplicate' confirm windows */
/*.x-btn em { display: block; }
button:focus, button.focus { border: 1px solid #6688DD; border-radius: 2px; box-shadow: 0 0 5px #4466AA; outline: 0 none !important; width: 100%; }
button::-moz-focus-inner { border: none; }
*/

/* GARP MAIN TOOLBAR */
div.x-toolbar.garp-main-toolbar{ background: transparent; text-transform: lowercase; border-radius: 5px 5px 0 0;}
div.x-toolbar span.xtb-sep { background-image: url('../../js/garp/ext-3.4.0/resources/images/default/grid/grid-split.gif') !important; }
div.x-toolbar.garp-main-toolbar .x-btn-text-icon { padding: 2px; color: #fff; text-shadow: 0px 1px 0px #000; }
div.x-toolbar.garp-main-toolbar button,  div.x-toolbar.garp-main-toolbar div.xtb-text { color: #444; text-shadow: 0px 1px 0px #ccc; padding-bottom: 3px; }
div.x-toolbar.garp-main-toolbar .x-btn-over button{ color: #000; text-shadow: none; }
div.x-toolbar.garp-main-toolbar span.xtb-sep { width: 0; border-left: 1px solid #888; border-right: 1px #bbb solid; background-image: none; margin-right: 10px; }
div.x-toolbar.garp-main-toolbar div.xtb-text { font-size: 14px; margin-right: 10px; color: #666; text-shadow: 0px 1px 0px #bbb; }

/* GRIDPANEL */
/*td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner { background-color:#EBF3FD; background-image:url("images/grid3-hrow-over.gif"); }*/
.x-grid3-row-over{ background: #ccc !important; }
.x-grid3-row-selected{ /*background-color: #4176DB !important;*/ background-color: #57b !important; background-image:none; border-color:#ACACAC; color: #FFF; }
.garp-contextrow { background-color: #678 !important; border-color: #acacac; color: #fff;}
.x-grid3-hd-inner{ padding-top: 7px; height: 16px; text-shadow: 0px 1px 1px #FFF; color: #666; }
.x-grid3-hd-over .x-grid3-hd-inner { color: #000; }
td.sort-asc .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner{ font-weight: bold; }
.x-grid3-scroller{ background-color: #fff !important; }
.x-grid3-body { background-color: #fff !important; }
div.x-grid3-row { border: 1px #fff solid !important; }
.row-icon { width: 16px; height: 16px; display: inline-block; margin-right: 5px; opacity: .5; }
.x-grid3-row .garp-image-renderct { display: inline-block; margin-top: 2px; }
.garp-image-renderct .no-img { width: 64px; height: 49px; display: block; background: #ccc; }
.garp-image-renderct img{ margin-right: 10px; }
.x-grid3-row .garp-image-renderct img { opacity: .7;  }
.x-grid3-row-selected .garp-image-renderct img, .x-grid3-row-over .garp-image-renderct img { opacity: 1; }
.gridPanelCt .x-panel-noborder .x-panel-tbar-noborder .x-toolbar { border-bottom: none; }
.gridPanelCt .hidden { display: none; }
.gridPanelCt .remoteDisplayFieldSpinner { background:url(../../js/garp/ext-3.4.0/resources/images/default/grid/loading.gif) no-repeat 4px center;  height: 16px; }

button.x-tbar-page-prev { background-image: url(../../media/images/garp/icons2/controller-previous.png) !important; }
button.x-tbar-page-next { background-image: url(../../media/images/garp/icons2/controller-next.png) !important; }
.x-item-disabled button.x-tbar-page-prev { background-image: url(../../media/images/garp/icons2/previous.png) !important; opacity: .4; }
.x-item-disabled button.x-tbar-page-next { background-image: url(../../media/images/garp/icons2/next.png) !important; opacity: .4; }
/* SEARCHBAR */
.garp-searchoptions .x-btn-mc{ background: transparent 0 0 !important; }
.garp-searchoptions { position: relative; right: -22px; margin-left: -22px; z-index: 1; }
.garp-searchoptions-menu { font-weight: bold; margin-left: 20px; display: block; padding: 4px; }
.has-search{ border: 1px #4176DB solid; background: #DDF; }

/* INFOPANEL */
.infopanel { padding: 0px; }
.infopanel .x-panel-header { background: transparent !important; border-bottom-style: dotted; margin-bottom: 5px; }
.infopanel .x-panel-header-text { margin-left: 5px; }
.infopanel .description { border-bottom: 1px dotted #CCC; color: #777; font-size: 2em; padding: 1.5em 30px; }
.infopanel .total { margin: 5px 0 0 0px; }

/* FORMPANEL */
.garp-formpanel { border-top: 0; padding-left: 10px; padding-top: 10px; background-color: #fff !important; }
.x-form-field.x-form-focus, .x-focus{ -moz-box-shadow: 0px 0px 5px #46A; -webkit-box-shadow: 0px 0px 5px #46A; box-shadow: 0px 0px 5px #46A; border: 1px #68D solid; outline: 0; -webkit-transition: all .2s ease-out; }
.x-grid-panel .x-form-field.x-form-focus{ -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.garp-formpanel .x-form-item-label { text-transform: lowercase; }
.x-form-element { margin-bottom: 15px; }
.x-form-element .loading{ background:url(../../js/garp/ext-3.4.0/resources/images/default/grid/loading.gif) no-repeat 4px center;  color: transparent !important; }
.x-btn-text .garp-image-renderct img { margin-left: 10px; }
.x-form-item-label.required-field:after{ content: ""; float: right; width: 16px; height: 16px; background: url(../../media/images/garp/icons/bullet_star.png); }
.x-form-item-label.required-field:after { float: none; position: absolute; right: 0; top: .25em; }
.x-form-item-label.number-field:after{ content: ""; float: right; width: 16px; height: 16px; background: url(../../media/images/garp/icons/numbers_grey.png); } 
.x-form-item-label.required-field.number-field:after{ content: ""; float: right; width: 16px; height: 16px; background: url(../../media/images/garp/icons/numbers.png); } 
.x-form-invalid-msg { content: ""; float: right; width: 16px; height: 16px; background: url(../../media/images/garp/icons/exclamation.png) no-repeat scroll 0 2px; }
.garp-countbox { text-align: right; }
.garp-countbox.negative { color: #d11; }
.x-form-field-wrap .x-form-field.relation-field { border-right: none; }
.x-form-field-wrap .x-form-trigger.relation-open-button { background: url("../../media/images/garp/icons2/fullscreen-enter.png"), url("../../js/garp/ext-3.4.0/resources/images/default/form/text-bg.gif"); background-repeat: no-repeat, repeat-x;  background-position: 0 2px, 0 0; border-top: 1px #B5B8C8 solid; border-bottom: 1px #B5B8C8 solid; height: 20px; padding-right: 5px; }
.x-form-field-wrap .x-form-trigger.relation-open-button:hover { background-position: 0 3px, 0 0; }
.x-form-field-wrap .x-form-trigger.relation-open-button.no-relation { background-image: none; border-right:1px #B5B8C8 solid; padding-right:0; margin-left:0; }

/* ERROR WINDOW */
.garp-error-dialog {background: url(../../js/garp/ext-3.4.0/resources/images/default/window/icon-error.gif) no-repeat 10px 50%; padding-left: 55px; font-size: 1.1em; }

/* RTE */
.garp-richtexteditor-statusbar{ font-size: 11px; padding: 3px; border-top: 1px #D0D0D0 solid; border-bottom: 0; color: #777; }
.garp-richtexteditor-source-edit{ font-family: Monaco, monospace; }

/* METAPANEL */
.garp-metapanel{ background: #fff; padding: 10px 0 0 15px; }
.garp-metapanel .garp-image-renderct img, .garp-metapanel .garp-image-renderct i { float: right; margin-right: 10px; }
.garp-metapanel .garp-image-renderct img { width: 24px; }
.garp-metapanel h2, .garp-metapanel h3 { display: block; font-weight: bold; font-size: 12px; margin-top: 15px; color: #11469B; text-transform: lowercase;}
.garp-metapanel h3 { margin-top: 15px; }
.garp-metapanel h3:nth-of-type(1) { margin-top: 0px; }
.garp-metapanel a, .garp-metapanel a:hover { color: #000; text-decoration: none; cursor: pointer; }
.garp-metapanel a { display: block; }
.garp-metapanel a:hover { text-decoration: underline; }
.garp-metapanel.x-item-disabled a:hover { text-decoration: none; }
.garp-metapanel .published-date { display: inline; }
.garp-metapanel .remove-published-date{ opacity:.75; display: inline-block; vertical-align: bottom; width: 16px; height: 16px; margin-left: 8px; background-image: url(../../media/images/garp/icons2/delete.png) ! important; border: 1px transparent solid; cursor: pointer; }
.garp-metapanel .remove-published-date:hover{ opacity: 1; } 
.garp-metapanel .online-status { margin-top: 3px; }
.garp-metapanel input[type^=checkbox] { margin-left: 8px; }
.garp-metapanel .copyright { text-align: center; border: 0; color: #ccc; position: absolute; bottom: 20px; height: 20px; margin: 0; padding: 0; width: 170px; left: 0; }
.garp-metapanel .copyright a { display: inline; color: #ccc; text-decoration: none; }
.garp-metapanel .copyright a:hover { display: inline; color: #4176DB; }

/* MENU'S */
div.x-menu { background-image: none; border: none; }
.x-menu-list-item .x-menu-item { height: 25px; padding-top: 5px; padding-left: 40px; }
.x-menu-list-item .x-menu-item .x-menu-item-icon { top: 5px; left: 10px; }

/* RELATEPANELS */
.garp-relatepanel-buttons .x-border-layout-ct{ background-color: #fff; }
.garp-relatepanel-buttons { background-color: #fff; }

body, .x-btn button, .x-form-item, .x-tab-strip span.x-tab-strip-text, .x-form-item-label, { font-size: 12px; }
body { font-family: "lucida grande",helvetica,arial,tahoma,verdana;font-size:12px }
.garp-bg{ background: #999 url("images/toolbar-bg.gif") repeat-x;padding-top: 5px; border-radius: 6px 6px 0 0} 
.garp-dnd-over{ border-top: 2px #22D solid; }
.x-border-layout-ct { background-color: #999; }
.formPanelCt .x-border-layout-ct, .x-window .x-border-layout-ct { background-color: #fff; }

/* MODALIZED WINDOWS */
.garp-modalized-window { background: #fff; border: 4px #999 solid; padding: 20px 50px 50px 50px; }
.garp-modalized-window .x-fieldset legend { margin-bottom: 30px; font-size: 1.25em; color: #777; }
.garp-import-window-heading, .garp-import-window .x-form-cb-label { font-weight: bold; }

/* CHROME FLASH MASK BUGFIX */
body.x-body-masked iframe, body.x-body-masked object{ visibility: hidden; }
body.x-body-masked .x-html-editor-wrap iframe{ visibility: visible; }

/* IE fix
 *  
 * body.ext-ie div.x-toolbar .garp-model-menu { margin-left: 0; margin-top: 0; }
 */
.x-layout-collapsed { background-color: #999; }
legend.x-fieldset-header { white-space: nowrap; }

.garp-fieldset { padding: 0px; }
.x-fieldset-body .separator { border-bottom: 1px #ccc dotted; margin: 10px 0 10px 0; }
.garp-dialog-fieldset { padding: 2px; }

.garp-notification-boxcomponent{ color: #888; margin: -10px 0 0 0; }
.x-window-body .garp-notification-boxcomponent{ color: #888; margin: 0 0 20px 0; }

.preview img { max-width: 320px; }
.relate-create-window .preview img { max-width: 320px; }

.garp-welcome-body { height: 100%; padding: 20px 20px 0 30px; font-size: 1.5em; color: #444; background: url('images/garp.png') no-repeat bottom right; }

.garp-tooltip ul{ font-size: 1.1em; padding: 10px; padding-left: 15px; list-style: disc outside; }

.garp-import-hidden-row, .garp-import-hidden-col{ color: #ccc; }

/* LOADER */
/*
#app-loader { position: absolute;  z-index: 999999; font-family: helvetica;  font-size: 1.5em; color: #444;  padding: 8px 0 4px 8px;  width: 160px;  height: 20px; border: 1px #e0e0e0 solid;  background-color: #eee;  left: 50%;  top: 50%;  margin: -10px 0 0 -80px;  -moz-box-shadow: 0px 0px 5px #ddd; -webkit-box-shadow: 0px 0px 5px #ddd; box-shadow: 0px 0px 5px #ddd; border-radius: 3px; }
#app-loader { background-color: #EEEEEE; border: 1px solid #E0E0E0; border-radius: 6px 6px 3px 3px; box-shadow: 0 0 6px #DDDDDD, 0 4px 4px #BBCCEE, 0 11px 16px #999999, 0 0 320px #fff; color: #9999AA; font-family: Helvetica; font-size: 17px; font-weight: lighter; height: 30px; left: 50%; margin: -20px 0 0 -90px; padding: 18px 0 4px 22px; position: absolute; text-shadow: 0 1px 0 #FFFFFF; top: 50%; width: 152px; z-index: 999999; }
*/
#app-loader { background-color: #999999; box-shadow: 0 0 4px #333333; color: #FFFFFF; font-size: 15px; left: 50%; margin-left: -150px; padding: 18px 22px; position: absolute; text-shadow: 0 1px 0 #000000; top: 200px; width: 256px; z-index: 999999;}

.center { position: absolute; left: 50%; top: 50%; }

/* IMAGE EDITOR */

.imageeditor-cropoutline{ position: absolute; }
.imageeditor-cropoutline-mq{ position: relative; width: 100%; height: 100%; }
.imageeditor-cropoutline-mq .left, .imageeditor-cropoutline-mq .right, .imageeditor-cropoutline-mq .top, .imageeditor-cropoutline-mq .bottom { position: absolute; } 
.imageeditor-cropoutline-mq .left{ background: url('images/marquee_v.gif'); width: 1px; height: 100%; }
.imageeditor-cropoutline-mq .right{ background: url('images/marquee_v.gif'); width: 1px; height: 100%; right: 0; }
.imageeditor-cropoutline-mq .top{ background: url('images/marquee_h.gif'); width: 100%; height: 1px; top: 0; }
.imageeditor-cropoutline-mq .bottom{ background: url('images/marquee_h.gif'); width: 100%; height: 1px; bottom: 0; }
.imageeditor-subject{ opacity: .3; }

/* PRINT */
.print-grid { visibility: hidden; }
.print-form { visibility: hidden; }

/*!
 * Ext JS Library 3.2.1
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 *
 * FileUploadField component styles
 */
.x-form-file-wrap { position: relative; height: 22px; }
.x-form-file-wrap .x-form-file { position: absolute; right: 0; -moz-opacity: 0; filter:alpha(opacity: 0); opacity: 0; z-index: 2; height: 22px; }
.x-form-file-wrap .x-form-file-btn { position: absolute; right: 0; z-index: 1; }
.x-form-file-wrap .x-form-file-text { position: absolute; left: 0; z-index: 1; color: #777; }


/* * * DAVID's NIJNTJE FIX * * * * */
.x-btn-text-icon .x-btn-icon-small-left .x-btn-text{ background-position: 0 center; background-repeat: no-repeat; padding-left:22px; height:18px; }
.ext-el-mask-msg div { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-tab-strip span.x-tab-strip-text { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-form-field{ font:normal 12px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-form-grow-sizer { font:normal 13px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-form-item { font:normal 12px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-form-invalid-msg { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-fieldset legend { font:bold 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-btn{ font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-btn button{ font:normal 14px "lucida grande", helvetica, arial, sans-serif, tahoma; text-transform: lowercase; }
.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{ font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-grid3-row td, .x-grid3-summary-row td{ font:normal 11px/13px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-grid3-hd-row td { font:normal 11px/15px "lucida grande", helvetica, arial, sans-serif, tahoma; text-transform: lowercase; }
.x-grid3-topbar, .x-grid3-bottombar{f ont:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-grid-group-hd div.x-grid-group-title { font:bold 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-grid-empty { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-dd-drag-ghost{ font: normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-tree-node{ font: normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-date-middle,.x-date-left,.x-date-right { font:bold 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-date-inner th { font:normal 10px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-date-inner a { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-date-mp td { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-date-mp-btns button { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-tip .x-tip-mc { font: normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-tip .x-tip-header-text { font: bold 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-tip .x-tip-body { font: normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-menu-list-item{ font:normal 14px "lucida grande", helvetica,arial,tahoma,sans-serif; text-transform: lowercase;}
.x-combo-list { font:normal 12px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-combo-list-hd { font:bold 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-combo-list-small { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-combo-list-item{ min-height: 12px; }
.x-panel-header { font-family: "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-panel-tl .x-panel-header { font:bold 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-panel-mc { font: normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-panel-fbar td,.x-panel-fbar span,.x-panel-fbar input,.x-panel-fbar div,.x-panel-fbar select,.x-panel-fbar label{ font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-window-tl .x-window-header { font:bold 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-window-mc { font: normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-list-header-inner div em { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-list-body dt em { font:normal 11px "lucida grande", helvetica, arial, sans-serif, tahoma; }
.x-window-dlg .ext-mb-textarea { font:normal 12px "lucida grande", helvetica, arial, sans-serif, tahoma; }
a.x-menu-item { color:#444; }

/* SUPERBOXSELECT */
.x-superboxselect {position:relative; height: auto !important; margin: 0px; overflow: hidden; padding:2px; display:block; outline: none !important;}
.x-superboxselect input[disabled] {background-color: transparent;};
.x-superboxselect ul {overflow: hidden; cursor: text;}
.x-superboxselect-display-btns {padding-right: 33px !important;}
.x-superboxselect-btns {position: absolute; right: 1px; top: 0; overflow:hidden; padding:2px;}
.x-superboxselect-btns div {float: left; width: 16px; height: 16px; margin-top: 4px;}
.x-superboxselect-btn-clear {background: url(../../media/images/garp/icons/clear.png) no-repeat scroll left 0px;}
.x-superboxselect-btn-expand {background: url(../../media/images/garp/icons/expand.png) no-repeat scroll left 0px;}
.x-superboxselect-btn-over {background-position: left -16px}
.x-superboxselect-btn-hide {display:none;}
.x-superboxselect li {float: left; margin: 1px 1px 2px 1px; padding: 0;line-height: 18px;}
.x-superboxselect-stacked li {float: none !important;}
.x-superboxselect-input input { border: none; outline: none; margin-top: 4px; margin-bottom: 4px;}
body.ext-ie .x-superboxselect-input input {background: none; border: none; margin-top: 3px;}
.x-superboxselect-item {position: relative; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; o-border-radius: 6px; khtml-border-radius: 6px; border: 1px solid #CAD8F3; background-color: #DEE7F8; padding: 1px 15px 1px 5px !important; }
body.ext-ie7 .x-superboxselect-item {margin: 2px 1px 2px 1px; line-height: 1.2em; padding: 2px 17px 4px 5px !important;}
body.ext-ie6 .x-superboxselect-item {margin: 2px 1px 2px 1px; line-height: 1.2em; padding: 2px 19px 4px 5px !important;}
.x-superboxselect-item-hover {background: #BBCEF1; border: 1px solid #6D95E0;}
.x-superboxselect-item-focus {border-color: #598BEC; background: #598BEC; color: #fff;}
.x-superboxselect-item-close {background: url(../../media/images/garp/icons/close.png) no-repeat scroll left 0px; border: none; cursor: default; font-size: 1px; height: 16px;padding:0; position: absolute; right: 0px; top: 2px; width: 13px;display:block;cursor:pointer;}

.x-superboxselect-item-close:hover, .x-superboxselect-item-close:active  { background-position: left -12px;}
.x-superboxselect-item-focus .x-superboxselect-item-close{ background-position: left -24px}
.x-item-disabled .x-superboxselect-item-close{ background-position: left -36px}

/* GARP Overrides */
.x-form-text.x-superboxselect.x-form-focus { -moz-box-shadow: 0px 0px 5px #46A; -webkit-box-shadow: 0px 0px 5px #46A; box-shadow: 0px 0px 5px #46A; border: 1px #68D solid; outline: 0; -webkit-transition: all .2s ease-out; }
.x-form-text.x-superboxselect .x-form-field.x-form-focus { border:0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }

/*
.chapter-ct .wysiwyg-ct .x-panel-tbar { visibility: hidden; }
.chapter-ct .wysiwyg-ct:hover .x-panel-tbar { visibility: visible; }
*/

/* GARP WysiwygCt */
.wysiwyg-ct { overflow: hidden;}
.wysiwyg-ct .x-panel-body {  /*background: url(../../js/garp/ext-3.4.0/resources/images/default/form/text-bg.gif) repeat-x;*/ }

			.grid-12-12 { width: 100%; }
			.grid-11-12 { width: 91.666666%; }
			.grid-10-12 { width: 83.333333%; }
			.grid-9-12 { width: 75%; }
			.grid-8-12 { width: 66.666666%; }
			.grid-7-12 { width: 58.333333%; }
			.grid-6-12 { width: 50%; }
			.grid-5-12 { width: 41.666666%; }
			.grid-4-12 { width: 33.333333%; }
			.grid-3-12 { width: 25%; }
			.grid-2-12 { width: 16.666666%; }
			.grid-1-12 { width: 8.333333%; }

			.grid-6-6 { width: 100%; }
			.grid-5-6 { width: 83.333333%; }
			.grid-4-6 { width: 66.666666%; }
			.grid-3-6 { width: 50%; }
			.grid-2-6 { width: 33.333333%; }
			.grid-1-6 { width: 16.666666%; }
						
			.wysiwyg-box { position: relative; float: left; border: none; outline: none; clear: none;  }
			.wysiwyg-box .dd-handle { display: none; position: absolute; right: 5px; top: 5px; background-color: #fff; width: 30px; height: 30px; border: 1px #ddd solid; border-radius: 4px;  background-position: 50% 50%; background-repeat: no-repeat; z-index: 3;}
			.wysiwyg-box .dd-handle.icon-delete { right: 40px; }
			.wysiwyg-box .dd-handle.icon-settings { right: 75px; }
			
			.wysiwyg-box:hover .dd-handle { display: block; }
			.wysiwyg-box .dd-handle:hover { background-color: #eee; }
			.x-panel-body-noheader .wysiwyg-box .x-panel-body { border: none; }

			.wysiwyg-box .contenteditable { margin: 10px; padding: 10px; border: 1px #ccc dashed; z-index: 2;}
			.wysiwyg-box .contenttitle { margin: 10px 10px -10px 10px; padding: 10px; border: 1px #ccc dashed; border-bottom: 0; z-index: 2;}
			
			.wysiwyg-box .contenteditable:-moz-focusring:not(input):not(button):not(select){ outline: none; }
			
			.wysiwyg-box .target { position: absolute; background: #000; z-index: 1; opacity:0; display: block; }
			.disabled-targets .wysiwyg-box .target { z-index: -3; }
			.wysiwyg-box .target.active { background: #57b; opacity: 1; }
			
			.wysiwyg-box .target.top { top: 0; left: 0; width: 100%; height: 30%;}
			.wysiwyg-box .target.right { right: 0; top: 0; height: 100%; width: 30%;}
			.wysiwyg-box .target.bottom { bottom: 0; left: 0; width: 100%;  height: 30%; }
			.wysiwyg-box .target.left { left: 0; top: 0; height: 100%; width: 30%;}
			.wysiwyg-box .target.top.active { height: 5px;}
			.wysiwyg-box .target.right.active { width: 5px; }
			.wysiwyg-box .target.bottom.active { height: 5px; }
			.wysiwyg-box .target.left.active { width: 5px; }
			.wysiwyg-box .x-resizable-handle-east { width: 20px; z-index: 2;}
			
			.wysiwyg-box { z-index: 1; }
			.wysiwyg-box.in-drag { z-index: 2; }
			.wysiwyg-box.in-drag .contenteditable { border: 1px #888 dashed; opacity: .5}

			.wysiwyg-box .img { position: absolute;	width: 100%; background-color: #ccc; background-size: contain; background-position: center;	background-repeat: no-repeat; }
			.wysiwyg-wrap .wysiwyg-box.wysiwyg-image { margin-bottom: 20px; }
			
			.row:before, .row:after { content: ""; display: table; }
			.row:after { clear: both; }
			.row { zoom: 1; }
			
			.wysiwyg-box .contenteditable { border-color: #ccc; }
			.active-chapter .wysiwyg-box .contenteditable { border-color: #08d; }
			
			/**** T E M P ****/
			.attention { background: #fdd; }
			.aside { font-family: serif; background: #ddf;}
			.special1 { background: #8d0; }
			.special2 { background: #08d; }
			