/**
 * Garp icons (toolbars, buttons, editors, etc)
 */
.icon-save{background-image:url(../../media/images/garp/icons/disk.png);}
.icon-open-new-window{background-image:url(../../media/images/garp/icons/application_double.png);}
.icon-preview{background-image:url(../../media/images/garp/icons/application_form_magnify.png);}
.icon-new{background-image:url(../../media/images/garp/icons/add.png);}
.icon-delete{background-image:url(../../media/images/garp/icons/cross.png);}
.icon-extra{background-image:url(../../media/images/garp/icons/cog.png);}
.icon-search{background-image:url(../../media/images/garp/icons/zoom.png);}
.icon-searchoptions{background-image:url(../../media/images/garp/icons/bullet_arrow_down.png);}
.icon-refresh{background-image:url(/js/garp/ext-3.3.1/resources/images/gray/grid/refresh.gif) ; width: 14px; height: 14px;}
.icon-export{background-image:url(../../media/images/garp/icons/application_go.png);}
.icon-import{background-image:url(../../media/images/garp/icons/application_get.png);}
.icon-print{background-image:url(../../media/images/garp/icons/printer.png);}
.icon-help{background-image:url(../../media/images/garp/icons/information.png);}
.icon-number-of-items{background-image:url(../../media/images/garp/icons/application_side_boxes.png);}
.icon-map{background-image:url(../../media/images/garp/icons/map.png);}
.icon-crop{background-image:url(../../media/images/garp/icons/cut.png);}
.icon-clock {background-image:url(../../media/images/garp/icons/clock.png);}
.icon-fb{background-image:url(../../media/images/garp/icons/fb.gif);}
.icon-twitter{background-image:url(../../media/images/garp/icons/twitter.png);}
.icon-linkedin{background-image:url(../../media/images/garp/icons/linkedin.gif);}

.icon-no-model{background-image:url(../../media/images/garp/icons/bullet_white.png);}
.icon-snippet{background-image:url(../../media/images/garp/icons/page_edit.png);}
.icon-img{background-image:url(../../media/images/garp/icons/photo.png);}
.icon-video{background-image:url(../../media/images/garp/icons/film.png);}

.icon-richtext-add-link{background-image:url(../../media/images/garp/icons/world_link.png)!important;}
.icon-richtext-add-heading{background-image:url(../../media/images/garp/icons/text_heading_1.png)!important;}
.icon-richtext-add-image{background-image:url(../../media/images/garp/icons/picture.png)!important;}
.icon-richtext-add-video{background-image:url(../../media/images/garp/icons/film.png)!important;}
.icon-richtext-paste-plain-text{background-image:url(../../media/images/garp/icons/paste_plain.png)!important;}
.icon-richtext-add-heading-menu{background-image:url(../../media/images/garp/icons/text_heading_1.png)!important;}
.icon-richtext-add-var{background-image:url(../../media/images/garp/icons/text_letter_omega.png)!important;}
.icon-richtext-add-code{background-image:url(../../media/images/garp/icons/script_code_red.png)!important;}
.icon-richtext-add-embed{background-image:url(../../media/images/garp/icons/page_white_code.png)!important;}
.icon-richtext-add-pre{background-image:url(../../media/images/garp/icons/tag.png)!important;}
.icon-richtext-remove-image{background-image:url(../../media/images/garp/icons/picture_delete.png)!important;}
.icon-richtext-edit-image{background-image:url(../../media/images/garp/icons/picture_edit.png)!important;}
.icon-richtext-align-left{background-image:url(../../media/images/garp/icons/text_align_left.png)!important;}
.icon-richtext-align-right{background-image:url(../../media/images/garp/icons/text_align_right.png)!important;}
.icon-richtext-add-blockquote{background-image:url(../../media/images/garp/icons/text_signature.png)!important;}

.icon-imageeditor-resize{background-image:url(../../media/images/garp/icons/shape_move_backwards.png);}
.icon-imageeditor-crop{background-image:url(../../media/images/garp/icons/shape_handles.png);}

.icon-mediawindow-icon{background-image:url(../../media/images/garp/icons/pictures.png);}
.icon-mediawindow-list{background-image:url(../../media/images/garp/icons/application_side_contract.png);}

.icon-upload{background-image:url(../../media/images/garp/icons/bullet_go.png);}
.icon-plus{background-image:url(../../media/images/garp/icons/add.png);}
.icon-image{background-image:url(../../media/images/garp/icons/photo.png);}
.icon-upload-single{background-image:url(../../media/images/garp/icons/page_white_go.png);}
.icon-upload-multiple{background-image:url(../../media/images/garp/icons/page_white_stack.png);}
.icon-relatepanel-related{background-image:url(../../media/images/garp/icons/link.png);}
.icon-relatepanel-relate{background-image:url(../../media/images/garp/icons/arrow_right.png);}
.icon-relatepanel-unrelate{background-image:url(../../media/images/garp/icons/arrow_left.png);}
