/**
 * Garp icons (toolbars, buttons, editors, etc)
 */
.icon-file{background-image:url(../../media/images/garp/icons/bullet_disk.png);}
.icon-save{background-image:url(../../media/images/garp/icons2/save.png);}
.icon-save-draft{background-image:url(../../media/images/garp/icons2/page-save.png);}
.icon-cancel{background-image:url(../../media/images/garp/icons2/history.png);}
.icon-edit{background-image:url(../../media/images/garp/icons/pencil.png);}
.icon-open-new-window{background-image:url(../../media/images/garp/icons2/fullscreen-enter.png);}
.icon-open{background-image:url(../../media/images/garp/icons2/hand-pointer.png);}
.icon-preview{background-image:url(../../media/images/garp/icons2/eye.png);}
.icon-new{background-image:url(../../media/images/garp/icons2/add.png);}
.icon-delete{background-image:url(../../media/images/garp/icons2/delete.png);}
.icon-extra{background-image:url(../../media/images/garp/icons2/setting.png);}
.icon-refresh{background-image:url(../../media/images/garp/icons2/reload.png);}
.icon-search{background-image:url(../../media/images/garp/icons/zoom.png);}
.icon-filter-off{background-image:url(../../media/images/garp/icons2/filter.png);} /* @TODO: find better icons for filter ? */
.icon-filter-on{background-image:url(../../media/images/garp/icons2/flash.png);}   /*                                       */
.icon-searchoptions{background-image:url(../../media/images/garp/icons/bullet_arrow_down.png);}
/*.icon-refresh{background-image:url(/js/garp/ext-3.3.1/resources/images/gray/grid/refresh.gif) ; width: 14px; height: 14px;}*/
.icon-export{background-image:url(../../media/images/garp/icons2/database-export.png);}
.icon-fullscreen{background-image:url(../../media/images/garp/icons2/fullscreen.png); }
.icon-logout{background-image:url(../../media/images/garp/icons2/logout.png); }
.icon-import{background-image:url(../../media/images/garp/icons2/database-import.png);}
.icon-print{background-image:url(../../media/images/garp/icons2/print.png);}
.icon-help{background-image:url(../../media/images/garp/icons2/info.png);}
.icon-number-of-items{background-image:url(../../media/images/garp/icons/application_side_boxes.png);}
.icon-map{background-image:url(../../media/images/garp/icons/map.png);}
.icon-crop{background-image:url(../../media/images/garp/icons/cut.png);}
.icon-clock {background-image:url(../../media/images/garp/icons/clock.png);}
.icon-fb{background-image:url(../../media/images/garp/icons/fb.gif);}
.icon-twitter{background-image:url(../../media/images/garp/icons/twitter.png);}
.icon-linkedin{background-image:url(../../media/images/garp/icons/linkedin.gif);}

.icon-infofield{background-image:url(../../media/images/garp/icons2/light-bulb.png); width: 16px; height: 16px; display: inline-block; margin: 0 6px -2px 0;}

.icon-no-model{background-image:url(../../media/images/garp/icons/bullet_white.png);}
.icon-snippet{background-image:url(../../media/images/garp/icons2/page-edit.png);}
.icon-img{background-image:url(../../media/images/garp/icons2/camera.png);}
.icon-video{background-image:url(../../media/images/garp/icons2/tv.png);}
.icon-news{background-image:url(../../media/images/garp/icons2/newspaper.png);}
.icon-user { background-image: url(../../media/images/garp/icons2/user.png); }
.icon-document { background-image: url(../../media/images/garp/icons2/page.png); }
.icon-group { background-image: url(../../media/images/garp/icons2/user-group.png); }

.icon-richtext-add-link{background-image:url(../../media/images/garp/icons2/link.png)!important;}
.icon-richtext-add-heading{background-image:url(../../media/images/garp/icons/text_heading_1.png)!important;}
.icon-richtext-add-image{background-image:url(../../media/images/garp/icons2/picture.png)!important;}
.icon-richtext-add-video{background-image:url(../../media/images/garp/icons2/video-clapper.png)!important;}
.icon-richtext-paste-plain-text{background-image:url(../../media/images/garp/icons2/clipboard.png)!important;}
.icon-richtext-add-heading-menu{background-image:url(../../media/images/garp/icons/text_heading_1.png)!important;}
.icon-richtext-add-var{background-image:url(../../media/images/garp/icons2/text_letter_omega.png)!important;}
.icon-richtext-add-code{background-image:url(../../media/images/garp/icons/script_code_red.png)!important;}
.icon-richtext-add-embed{background-image:url(../../media/images/garp/icons2/script.png)!important;}
.icon-richtext-add-pre{background-image:url(../../media/images/garp/icons/tag.png)!important;}
.icon-richtext-remove-image{background-image:url(../../media/images/garp/icons2/delete.png)!important;}
.icon-richtext-edit-image{background-image:url(../../media/images/garp/icons2/pencil.png)!important;}
.icon-richtext-align-left{background-image:url(../../media/images/garp/icons/text_align_left.png)!important;}
.icon-richtext-align-right{background-image:url(../../media/images/garp/icons/text_align_right.png)!important;}
.icon-richtext-add-blockquote{background-image:url(../../media/images/garp/icons/text_signature.png)!important;}
.icon-richtext-add-dl{background-image:url(../../media/images/garp/icons/pilcrow.png)!important;}

.icon-wysiwyg-bold { background-image:url(../../media/images/garp/icons/text_bold.png)!important; }
.icon-wysiwyg-italic { background-image:url(../../media/images/garp/icons/text_italic.png)!important; }

.icon-move { background-image:url(../../media/images/garp/icons2/move.png)!important; }
.icon-settings { background-image:url(../../media/images/garp/icons2/setting.png)!important; }

.icon-imageeditor-resize{background-image:url(../../media/images/garp/icons/shape_move_backwards.png);}
.icon-imageeditor-crop{background-image:url(../../media/images/garp/icons/shape_handles.png);}

.icon-mediawindow-icon{background-image:url(../../media/images/garp/icons/pictures.png);}
.icon-mediawindow-list{background-image:url(../../media/images/garp/icons/application_side_contract.png);}

.icon-upload{background-image:url(../../media/images/garp/icons/bullet_go.png);}
.icon-plus{background-image:url(../../media/images/garp/icons/add.png);}
.icon-image{background-image:url(../../media/images/garp/icons/photo.png);}
.icon-upload-single{background-image:url(../../media/images/garp/icons/page_white_go.png);}
.icon-upload-multiple{background-image:url(../../media/images/garp/icons/page_white_stack.png);}
.icon-relatepanel-related{background-image:url(../../media/images/garp/icons2/link.png);}
.icon-relatepanel-relate{background-image:url(../../media/images/garp/icons2/arrow-right.png);}
.icon-relatepanel-unrelate{background-image:url(../../media/images/garp/icons2/arrow-left.png);}

.icon-passwordwindow { background-image:url(../../media/images/garp/icons2/key.png); }
#icon-loading-spinner { background-image:url(../../js/garp/ext-3.4.0/resources/images/default/grid/loading.gif); display: none; width: 16px; height: 16px; position: absolute; top: 10px; right: 5px; z-index: 999999999}
