/* ==|== tablet styles ======================================================
   Author: Grrr
   ========================================================================== */

/* grid */
.grid { display: inline-block; }
.ie7 .grid { display: inline; zoom: 1; }

.row { display: block; }
.col-1 {  }
.col-2 {  }
.col-3 {  }
.col-4 {  }
