/**
 * @author       $Author: mattijs $
 * @modifiedby   $LastChangedBy: mattijs $
 * @version      $LastChangedRevision: 6486 $
 * @lastmodified $LastChangedDate: 2012-09-28 16:14:58 +0200 (Fri, 28 Sep 2012) $
 */

@import "compass/css3";
@import 'normalize.scss';

/* colors */
$color1: #b3b3b3; /* grey */
$color2: #222; /* black */
$color3: #a62422; /* red */
$color4: lighten($color3, 55%); /* light red */

/* grid units */
$gridFullWidth: 1000px; /* sum of all columns + one extra gutter */
$gridColumnWidth: 4%;
$gridGutterWidth: 0.5%;
$gridColumnCount: 13;

$margin: 20px;
$marginHalf: 10px;
$marginDouble: 40px;

/* ==========================================================================
   primary styles
   ========================================================================== */
html { font-size: 16px; line-height: 1.4em; }
body, button, input, select, textarea { font-family: sans-serif; font-size: 1em; color: #000; }
body { background: #FFF; margin: 0; }

ul, ol, dd { list-style: none; margin: 0; padding: 0; }
.rich ul, .rich ol { margin: 1em 0; }
.rich ul li { list-style: disc; }
.rich ol li { list-style: decimal; }
.rich .figure { margin-bottom: 1em; }
.rich .figure[style*="float:left"], .rich .figure[style*="float: left"] { margin-right: 30px; }
.rich .figure[style*="float:right"], .rich .figure[style*="float: right"] { margin-left: 30px; }
.rich .figure dd { color: #808080; font-size: .5625em; } /* 9/16 */

a, a:visited { vertical-align: baseline; color: #00f; }
a:hover, a:focus { color: #f00; }
a:hover, a:focus, a:active { outline: 0; }
.block-link { display: block; overflow: hidden; }

h1, .alpha { }
h2, .beta { }
h3, .gamma { }
h4, .delta { }
h5, .epsilon { }
h6, .zeta { }

/* ==========================================================================
   layout
   ========================================================================== */

#container { max-width: $gridFullWidth; margin: 0 auto; }

/* grid */
.row { @extend .clearfix; }
.grid { float: left; min-height: 1px; margin: 0 ($gridGutterWidth/2); }

@for $i from 1 through $gridColumnCount {
  .grid-col-#{$i}-#{$gridColumnCount} { width: $gridColumnWidth + ($gridColumnWidth+$gridGutterWidth)*(-1+$i); @extend .grid; }
}

.left { float: left; }
.right { float: right; }

.nm { margin: 0; }
.mb { margin-bottom: $margin; }
.mb-half { margin-bottom: $marginHalf; }
.mb-double { margin-bottom: $marginDouble; }

/* ==========================================================================
   modules
   ========================================================================== */

/* cookie-announcement */
#cookie-announcement { position: fixed; bottom: 20px; left: 20px; z-index: 2000; max-width: 160px; padding: 20px; color: #FFF; background: #0AD;
-webkit-box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:    7px 7px 0px rgba(0, 0, 0, 0.3);
box-shadow:         7px 7px 0px rgba(0, 0, 0, 0.3); }	
#cookie-announcement, #cookie-announcement button { font-family: Arial, Verdana, sans-serif; font-size: 16px; line-height: 19px; font-weight: bold; letter-spacing: normal; }
#cookie-announcement a { text-decoration: underline; color: #FFF; }
#cookie-announcement a:hover, #cookie-announcement a:focus { text-decoration: none; }
#cookie-announcement p { margin: 0 0 20px; }
#cookie-announcement button { width: 160px; display: block; padding: 10px 0; text-align: center; color: #0AD; background: #FFF; border: 0; white-space: nowrap;
-webkit-border-radius: 5px;
-moz-border-radius:    5px;
border-radius:         5px; }
.no-boxshadow #cookie-announcement { border: outset #ccc; border-width: 0 5px 5px 0; }

/* cookie-identification */
#cookie-info h1 { }
#cookie-info { margin: 3em; }
#cookie-info dl { border-top: 1px #ccc solid; border-bottom: 1px #ccc solid; padding: 1em 0 1em 0; margin: 3em 0; }
#cookie-info dt { float: left; width: 200px; font-weight: bold; clear: left; }
#cookie-info dd { float: left; }
#cookie-info footer { margin-top: 3em; }

/* ==|== non-semantic helper classes ======================================== */

/* Image replacement based on http://bit.ly/Aazp14 */
.ir { display: block; overflow: hidden; text-indent: 100%; white-space: nowrap; border: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.offscreen { position: absolute; left: -999em; }
.invisible { visibility: hidden; }
.clearfix:after { height: 0; visibility: hidden; display: block; clear: both; content: ''; }
.clearfix { zoom: 1; }

/* ==|== print styles ======================================================= */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
