/**
 * @author       $Author: mattijs $
 * @modifiedby   $LastChangedBy: mattijs $
 * @version      $LastChangedRevision: 6486 $
 * @lastmodified $LastChangedDate: 2012-09-28 16:14:58 +0200 (Fri, 28 Sep 2012) $
 */

@import 'compass/css3';
@import 'normalize';
@import 'extension';

/* ==========================================================================
   primary styles
   ========================================================================== */
html { font-size: 62.5%; line-height: 1.4em; }
body, button, input, select, textarea { font-family: sans-serif; @include font-size(16); color: #000; }
body { background: #FFF; margin: 0; @include hyphens(auto); }
code, var, kbd, samp, tt, dir, listing, plaintext, xmp, abbr, acronym, { @include hyphens(none); }

ul, ol, dd { list-style: none; margin: 0; padding: 0; }

a:link, a:visited, a:hover, a:active { vertical-align: baseline; color: $link_color; }
a:hover, a:focus { color: #f00; }
a:hover, a:focus, a:active { outline: 0; }
.block-link { display: block; overflow: hidden; }

h1, h2, h3, h4, h5, h6 { margin: 0; }
h1, .alpha { }
h2, .beta { }
h3, .gamma { }
h4, .delta { }
h5, .epsilon { }
h6, .zeta { }

img, object, iframe, video { max-width: 100%; }

.rich .figure[style*="float:left"], .rich .figure[style*="float: left"] { margin: 0 10px 10px 0; }
.rich .figure[style*="float:right"], .rich .figure[style*="float: right"] { margin: 0 0 10px 10px; }
.rich .figure dd { @include font-size(14); }

/* ==========================================================================
   layout
   ========================================================================== */

#container { max-width: $gridFullWidth; margin: 0 auto; }

/* grid */
.row { @extend .clearfix; }
.grid { float: left; min-height: 1px; margin: 0 (($gridGutterWidth/2)/$gridFullWidth)*100%; }

@for $i from 1 through $gridColumnCount {
	$colWidth: ($gridColumnWidth*$i) + ((-1+$i)*$gridGutterWidth);
	.grid-#{$i}-#{$gridColumnCount} { width: ($colWidth/$gridFullWidth)*100%; @extend .grid; }
}

.left { float: left; }
.right { float: right; }

.nm { margin: 0; }
.mb { margin-bottom: $margin; }
.mb-half { margin-bottom: $marginHalf; }
.mb-double { margin-bottom: $marginDouble; }

/* ==========================================================================
   modules
   ========================================================================== */

@import 'cookie-info';

/* ==========================================================================
   print styles
   ========================================================================== */

@import 'print';
