/* ==========================================================================
   variables
   ========================================================================== */
/* grey */
/* black */
/* red */
/* light red */
/* ==========================================================================
   mixins and functions
   ========================================================================== */
/**
 * For image replacement
 */
/**
 * For font-sizing in rem
 * Usage:
 * html { font-size: 62.5%; }
 * p { @include font-size(16); }
 */
/**
 * Calculate fluid ratio based on two dimensions (width/height)
 * @see http://voormedia.com/blog/2012/11/responsive-background-images-with-fixed-or-fluid-aspect-ratios
 * Usage:
 * .header { @include fluid-ratio(800px 200px, 300px 150px); background-image: url('img/branding.png'); }
 */
/* ==========================================================================
   non-semantic helper classes
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/extension\.scss}line{font-family:\0000378}}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/extension\.scss}line{font-family:\0000379}}
.offscreen {
  position: absolute !important;
  left: -999em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/extension\.scss}line{font-family:\0000380}}
.invisible {
  visibility: hidden !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/extension\.scss}line{font-family:\0000381}}
.clearfix {
  zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/extension\.scss}line{font-family:\0000382}}
.clearfix:after {
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  content: '';
}

/* Make sure Like buttons do not suffer from cut-off comment-box syndrome */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/extension\.scss}line{font-family:\0000386}}
.fb_iframe_widget span {
  width: 450px !important;
}
