/* cookie-announcement */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\000034}}
.cookie-announcement {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2000;
  max-width: 160px;
  padding: 20px;
  color: #FFF;
  background: #0AD;
  -webkit-box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\000035}}
.cookie-announcement, .cookie-announcement button {
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  letter-spacing: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\000036}}
.cookie-announcement a {
  text-decoration: underline;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\000037}}
.cookie-announcement a:hover, .cookie-announcement a:focus {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\000038}}
.cookie-announcement p {
  margin: 0 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\000039}}
.cookie-announcement button {
  width: 160px;
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #0AD;
  background: #FFF;
  border: 0;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\0000310}}
.no-boxshadow .cookie-announcement {
  border: outset #ccc;
  border-width: 0 5px 5px 0;
}

/* cookie-info page */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\0000314}}
.cookie-info {
  margin: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\0000315}}
.cookie-info dl {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  padding: 1em 0 1em 0;
  margin: 3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\0000316}}
.cookie-info dt {
  float: left;
  width: 200px;
  font-weight: bold;
  clear: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\0000317}}
.cookie-info dd {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/harmen\/Sites\/amnesty_fourweeks\/garp\/scripts\/scaffold\/public\/css\/sass\/imports\/cookie-info\.scss}line{font-family:\0000318}}
.cookie-info footer {
  margin-top: 3em;
}
