/* example:

@font-face {
	font-family: 'Gibson';
	src: url('../fonts/gibson/282108_1_0.eot');
	src: url('../fonts/gibson/282108_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/gibson/282108_1_0.woff') format('woff'),
	 	 url('../fonts/gibson/282108_1_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/


/* chrome on windows fix */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 1200px) {

	/* usage:
	@font-face {
		font-family: 'Gibson';
		src: url('../fonts/gibson/282108_1_0.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	*/

}