/* ==========================================================================
	Grunt icon template.
	Generates _icons.scss, which is imported into base.scss

	Author: Koen | grrr.nl

	(original can be found in node_modules/grunt-webfont/tasks/templates/bem.css)
   ========================================================================== */

// IE8 Fix
@font-face {
	font-family:"icons";
	src:url("../fonts/icons/icons-a8a70f42d8bc3a5a41b0a8328612f36a.eot");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"icons";
	src:url("../fonts/icons/icons-a8a70f42d8bc3a5a41b0a8328612f36a.eot");
	src:url("../fonts/icons/icons-a8a70f42d8bc3a5a41b0a8328612f36a.eot?#iefix") format("embedded-opentype"),
		url("../fonts/icons/icons-a8a70f42d8bc3a5a41b0a8328612f36a.woff") format("woff"),
		url("../fonts/icons/icons-a8a70f42d8bc3a5a41b0a8328612f36a.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

%icon {
	font-family:"icons";
	display:inline-block;
	font-weight:normal;
	font-style:normal;
	vertical-align: baseline;
	line-height: 1;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}


/*
 * Icons - HTML only
 * Usage: <div class="icon-menu"><div>
 *
 * Will add :before of menu-icon (or specify after by adding __after
 * or --after in de fontname before generating the icons
 */

.icon-close:after { @extend %icon; content:"\f100"; }
.icon-mail:before { @extend %icon; content:"\f101"; }


/*
 * Icons - HTML or CSS
 * Usage: .blabla:before { @extend .EXTEND-icon-name; } or
 * .blabla:after { @extend .EXTEND-icon-name; }
 *
 * Extends the icon in a before or after pseudo-element.
 *
 * Warning: NEVER extend/use it by specifying the unicode character (content: '\U2934';),
 * as it will be overwritten when adding new icons. Character is added on alphabetical order.
 */
 
.extend-icon-close-after {
	font-family:"icons";
	display:inline-block;
	font-weight:normal;
	font-style:normal;
	vertical-align: baseline;
	line-height: 1;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f100"; }
	
.extend-icon-mail {
	font-family:"icons";
	display:inline-block;
	font-weight:normal;
	font-style:normal;
	vertical-align: baseline;
	line-height: 1;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f101"; }
	

