<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="icon" type="image/png" href="{{ zf.assetUrl('/css/garp/images/garp.png') }}">
</head>
<body>
	{{ layoutBlock("content") }}
</body>
</html>

